<h2>
    This is an about page!
</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
     Sint accusamus corporis deserunt minus in! Illo ipsa adipisci possimus, 
    facilis obcaecati commodi ea laborum modi laboriosam voluptatibus esse.
     Iste laudantium vel sed porro sit facere sapiente repudiandae eveniet 
     similique accusantium veritatis sint, nihil aperiam? Natus neque ad minima,
      optio quos est.</p>

      <button routerLink="/movies" class="button-54">Go Home</button>
